{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h1 align="center">На этой страничке ты можешь найти того, кто захочет обменяться с тобой продуктами</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            {{ wtf.quick_form(form, button_map={'submit': 'primary btn-block'}) }}
        </div>
    </div>
</div>
<div class="container">
    <h2 align="center">Пользователи</h2>
    {% if users %}
    <div class="card-deck justify-content-center">
        {% for user in users %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 15rem;">
                <img class="card-img-top img-fluid rounded mx-auto d-block"
                     src="{{ user.avatar(128) }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">{{ user.username }}<br>
                    {% if user == current_user %}
                        (это Вы)
                    {% endif %}</h4>
                    <p class="card-text">
                        <b>Фамилия:</b> {{ user.last_name }}<br>
                        <b>Имя:</b> {{ user.first_name }}<br>
                        <b>Город:</b> {{ user.from_city.name }}
                    </p>
                    <a href="{{url_for('user', username=user.username) }}" class="btn btn-primary btn-block"
                       style="display: flex; justify-content: center;">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 align="center">Пока нет ни одного пользователя в этом городе</h3>
    {% endif %}
</div>
{% endblock %}